data/**/lock
data/**/*.csv
images/**/*.jpg
**/__pycache__/**

# for sensorcontrol
**/*.cache
**/sensorcontrol
**/*.o
**/*.Po
infra-sound-recorder/sensor-control/src/.deps/i2c_read_test.Po
**/config.log