[Unit]
Description=infraservice
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/geophon/infra-sound-recorder/service
ExecStart=/usr/bin/python3 -m InfraService GEOPHON
ExecStop=/bin/kill `/bin/ps aux | /bin/grep InfraService | /bin/grep -v grep | /usr/bin/awk '{ print $2 }'`
User=pi
Group=pi
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80
CPUSchedulingResetOnFork=false

[Install]
WantedBy=multi-user.target

